.table {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__container {
    overflow: auto;

    &--no-scroll {
      overflow: initial;
    }
  }

  &__sort-button {
    display: flex;
    align-items: center;
  }

  &__header {
    display: grid;
    width: 100%;
    color: var(--grey-1);
    justify-content: space-between;
    font-weight: 500;
    background-color: var(--grey-2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &--with-borders {
    border: 1px solid var(--grey-6);

    .table__header {
      border-radius: 0;
    }
  }

  &__header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;

    &--no-borders {
      border-bottom: 3px solid var(--white);
      border-left: 3px solid var(--white);

      &:first-child {
        border-left: 0;
      }
    }

    &--with-borders {
      border-bottom: 1px solid var(--grey-6);
      border-left: 1px solid var(--grey-6);

      &:first-child {
        border-left: 0;
      }
    }
  }

  &__row {
    &:nth-child(2n) {
      background-color: var(--grey-2);
    }

    &:nth-child(2n + 1) {
      background-color: var(--grey-3);
    }

    &:hover {
      background-color: var(--grey-4);
    }
  }

  &__row-content-container {
    color: var(--grey-6);
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__row-content {
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 0 10px;

    &--with-borders {
      border-left: 1px solid var(--grey-6);

      &:first-child {
        border-left: 0;
      }
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    padding: 0;
  }

  &__icons {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    svg {
      cursor: pointer;

      &:hover {
        scale: 1.3;
      }
    }
  }

  &__icon-text {
    font-size: 14px;
    line-height: 24px;
  }

  &__options {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__setting-icon {
    cursor: pointer;

    &:hover {
      scale: 1.2;
    }
  }

  &__options-container {
    display: flex;
    flex-direction: column;
  }

  &__option {
    height: 20px !important;

    &:hover {
      text-decoration: underline;
    }
  }

  &--small {
    .table__header-item {
      height: 25px;
    }

    .table__row-content {
      line-height: 25px;
    }

    .table__checkbox {
      margin: 3px auto 0;
    }
  }

  &--large {
    .table__header-item {
      height: 40px;
    }

    .table__row-content {
      line-height: 40px;
    }

    .table__checkbox {
      margin: 10px auto 3px;
    }
  }
}
