.searchInput {
  z-index: 1;
}
.searchIcon {
  cursor: pointer;
}
.input {
  border-radius: 20px;
  background: var(--white);
  height: 42px;
  /*border: none;*/
}
.inputContainerClassName {
  background-color: transparent;
}
