.searchInput {
  z-index: 1;
}
.searchIcon {
  cursor: pointer;
}
.input {
  border-radius: 20px;
  background: var(--white);
  height: 42px;
  /*border: none;*/
}
.inputContainerClassName {
  background-color: transparent;
}
.holidayItems {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.holidayItem {
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
}
