.mainDescription {
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  color: var(--white);
}

.mainDescriptionBackground {
  overflow: hidden;
  position: relative;
  background-size: cover;
  background: rgb(151 222 240) radial-gradient(circle, rgb(108 176 192) 0%, rgb(160 220 221) 100%)
    no-repeat center;
}

.svgWaves {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}

.container {
  display: flex;
  gap: 80px;
}

.whiteWave {
  position: absolute;
  bottom: 0;
}

.phoneImage {
  z-index: 1;
}

.heading {
  font-size: 42px;
  font-weight: 700;
  color: var(--white);
}

.description {
  margin-top: 16px;
  font-size: 20px;
}

.playMarketImages {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.playMarketImage {
  max-width: 170px;
  height: auto;
}
.advantages {
  font-size: 16px;
  margin-top: 8px;
}
