.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  user-select: none;

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }

  &__input-container {
    max-width: 50px;
  }

  &__input {
    height: 28px;
  }

  &__page-link {
    position: relative;
    display: flex;
    min-width: 45px;
    padding: 0 12px;
    height: 28px;
    justify-content: center;
    align-items: center;
    color: var(--blue-1);
    text-decoration: none;
    background-color: var(--white);
    border: solid 1px var(--grey-6);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      z-index: 2;
      color: var(--blue-1);
      background-color: var(--grey-4);
      border-color: var(--grey-6);
    }

    &:focus {
      z-index: 3;
      color: var(--white);
      background-color: var(--blue-1);
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
  }

  &__page-item {
    &--disabled {
      color: var(--grey-6);
      pointer-events: none;
      background-color: var(--white);
      border-color: var(--grey-6);

      .pagination__page-link {
        color: var(--grey-6);
      }
    }

    &--active {
      .pagination__page-link {
        z-index: 3;
        color: var(--white);
        background-color: var(--blue-1);
        border: solid 1px var(--blue-1);
      }
    }

    &:not(:first-child) .pagination__page-link {
      margin-left: -1px;
    }

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }
}
