.autosuggest {
  &__popup {
    position: fixed;
    z-index: 11;
    background: var(--grey-3);
    box-shadow: 0 -2px 4px 1px rgb(3 46 232 / 12%);
  }

  &__suggestion-match {
    color: var(--blue-1);
    font-weight: bold;
    background-color: transparent;
  }

  &__option {
    min-height: 30px;
    display: flex;
    font-family: var(--poppins);
    font-variant-numeric: tabular-nums;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;

    &:hover {
      background-color: var(--grey-5);
    }
  }

  &__input {
    border-radius: 28px;
    background-color: var(--grey-3);
    padding: 11px 29px 11px 15px;
    font-size: 14px;
    border: none;
    width: 100%;
    max-height: 30px;

    &:focus-visible {
      outline: none;
    }
  }

  &__empty-text {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--grey-6);
  }
}
