.circleShape {
  width: 0;
  height: 0;
  background-color: var(--circleShape1);
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s;
  pointer-events: none;
}

.isDisplayed {
  width: 200px;
  height: 200px;
  transition: all 0.5s;
}

.circleShapeDouble {
  position: absolute;
  height: 135px;
  width: 150px;
  overflow: hidden;
  pointer-events: none;
}

.circleShapeDoubleContainer {
  position: relative;
  width: 300px;
  height: 270px;
  pointer-events: none;
}

.doubleShapeOne {
  right: 0;
  top: 0;
}

.doubleShapeTwo {
  left: 0;
  bottom: 0;
}

.circleShapeTopLeft {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.circleShapeTopRight {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.circleShapeBottomLeft {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.circleShapeBottomRight {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.circleShapeDoubleTopLeft {
  top: 0;
  left: 0;
  scale: -1 -1;
}

.circleShapeDoubleTopRight {
  top: 0;
  right: 0;
  rotate: 180deg;
  scale: -1 1;
}

.circleShapeDoubleBottomLeft {
  bottom: 0;
  left: 0;
  scale: -1 1;
}

.circleShapeDoubleBottomRight {
  bottom: 0;
  right: 0;
}
