.whatOurUsersThink {
  margin-bottom: 50px;
}
.title {
  text-transform: uppercase;
  color: var(--text);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 50px;
}
.feedbackList {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}
.feedbackItem {
  padding: 8px;
  display: flex;
}
.feedbackItem:hover {
  border-radius: 8px;
  box-shadow: 0 -2px 4px 1px rgb(3 46 232 / 12%);
}
.quotes {
  font-size: 60px;
  margin-right: 30px;
}
.message {
  line-height: 1.9;
  font-size: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.author {
  text-transform: uppercase;
  color: var(--text);
  font-weight: 700;
}
