.section {
  border-bottom: 1px solid var(--grey-6);
  padding-bottom: 20px;

  &--m-bottom {
    margin-bottom: 15px;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__title {
    color: var(--blue-1);
    font-weight: 500;
    font-size: 20px;
    margin: 5px 0;
    display: flex;
    align-items: center;
  }

  &__body {
    transition: max-height 0.2s ease-out;
  }

  &__collapse-icon {
    font-size: 30px;
    fill: var(--blue-1);
    cursor: pointer;
    transition: all 0.2s ease-out;

    &--bottom {
      transform: rotateX(180deg);
    }

    &:hover {
      scale: 1.2;
    }
  }
}
