.time-picker {
  &--with-animation {
    animation: inputAppear 1s;
  }

  &__input {
    background-color: transparent;
    font-size: 14px;
    width: 100%;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    appearance: textfield;
  }

  &__input-container {
    cursor: pointer;
    width: 100px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--grey-3);
    border: 1px solid var(--grey-6);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--grey-4);
    font-family: var(--poppins);
    font-variant-numeric: tabular-nums;

    &--error {
      border: solid 1px var(--red-2);
    }
  }

  &__focus-container {
    width: max-content;
    border-radius: 4px;

    &:focus {
      outline: 1px solid var(--grey-1);
      margin: 0;
      transition: border 0.1s ease, box-shadow 0.1s ease;
    }
  }

  &__popup {
    position: fixed;
    z-index: 11;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: var(--grey-3);
    box-shadow: 0 2px 4px rgb(3 46 232 / 12%);
    border-radius: 10px;
    padding: 10px 0 10px 7px;
    font-family: var(--poppins);
    font-variant-numeric: tabular-nums;
    max-width: 100px;

    &-options {
      overflow: auto;
      max-height: 230px;
      padding-right: 6px;
      user-select: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--grey-3);
      }
    }

    &-option {
      display: flex;
      justify-content: center;
      margin: 12px 0;
      cursor: pointer;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: var(--grey-4);

      &.active {
        color: var(--blue-1);
      }
    }
  }
}
