:root {
  --toastify-color-success: #2e844a !important;
  --toastify-icon-color-error: #f8485e !important;

  /*colors*/
  --grey-1: #999;
  --grey-2: #f4f2f2;
  --grey-3: #a1a1a1;
  --grey-4: #ccc;
  --grey-5: #e6e6e6;
  --grey-6: #aeafb4;
  --grey-7: #666666;
  --blue-1: #1ea2b1;
  --blue-2: #4267b2;
  --blue-3: #dcdde3;
  --input-border: #8f9192;
  --input-border-hover: #39393a;
  --red-1: #ea1b0a;
  --red-2: #d51607;
  --red-3: #b00402;
  --green: #2e844a;
  --black: #000000;
  --header-height: calc(50px + env(safe-area-inset-top));
  --light-bg: rgba(250, 250, 250, 1);
  --text: #333333;

  /* colors:*/

  /* fonts */
  --font-poppins: Poppins;
  --menu: Inter;
  --bold-16: Roboto;

  /* font sizes */
  --font-size-sm: 14px;
  --menu-size: 20px;
  --small-text-size: 13px;
  --bold-16-size: 16px;

  /* Colors */
  --white: #fff;
  --dark: #202328;
  --blue: #4530b3;
  --blue-light: #8fbae1;
  --grey: #666666;
  --circleShape1: rgba(143, 186, 225, 0.44);
  --circleShape2: rgba(143, 186, 225, 0.8);
  --text-blue: #142b51;
  --grey-text: #e2e2e2;
  --menu-bg: #5451d6;
  --orange: #f88500;
  --header-bg: rgba(69, 48, 179, 0.6);
  --form-box-shadow: 4px 4px 20px 0px rgba(84, 81, 214, 0.3);

  /* Gaps */
  --gap-5xs: 8px;
  --gap-10xs: 3px;
  --gap-8xs: 5px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-3xl: 22px;
  --padding-8xs: 5px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-mini: 15px;

  --fc-button-bg-color: transparent;
  --fc-button-border-color: transparent;
  --fc-button-text-color: var(--dark);
  --fc-event-bg-color: var(--blue);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  scrollbar-width: thin;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  position: relative;
}

html,
body {
  min-height: 100svh;
  width: 100%;
  margin: 0;
  font-size: 14px;
  text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

#sarbatori-root {
  min-height: 100svh;
}

select option {
  color: var(--grey-6);
}

select option:first-child {
  color: var(--grey-1);
}

.container {
  width: 100%;
  max-width: 1340px;
  padding: 25px;
  margin: 0 auto;
}
.text-align-center{
  text-align: center;
}

p {
  line-height: 1.9;
}
