.holidayCard {
  overflow: hidden;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-bottom: 32px;
}

.holidayCardImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.holidayCardBody {
  padding: 11px 21px;
  background-color: var(--circleShape1);
}

.holidayCardTitle {
  display: grid;
  grid-template-columns: 1fr 28px;
  gap: 12px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.holidayCardTitle a {
  color: var(--dark);
  font-size: 20px;
  font-weight: 600;
  text-underline-offset: 4px;
  text-decoration-line: underline;
  max-width: max-content;
}
.holidayCardTitle svg {
  transition: all 0.2s linear;
}
.holidayCardTitle svg:hover {
  cursor: pointer;
  rotate: 12deg;
}

.holidayCardDescription {
  margin-top: 8px;
  color: var(--text-blue);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 18.85px */

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 7;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
