.header {
  position: absolute;
  height: 100svh;
  width: 100%;
  left: -100%;
  top: 0;
  padding: 0;
  transition: all 0.2s linear;
  overflow: hidden;
  z-index: 4;
}

.header:after {
  content: '';
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  background: var(--header-bg);
  z-index: -1;
  transition: all 0.2s linear;
}

.headerActive {
  left: 0;
}

body:has(.headerActive) {
  overflow: hidden;
}

.header.headerActive:after {
  opacity: 1;
  transition: all 0.2s linear;
}

.headerMenuIcon {
  cursor: pointer;
}

.headerMenuIconContainer {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer {
  height: 100%;
  background: var(--menu-bg);
  position: relative;
  color: var(--white);
  width: 70%;
  padding: 90px 20px 0;
  display: flex;
  flex-direction: column;
}

.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logoLink {
  color: var(--white);
  margin: 0 auto;
}

.urlsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  z-index: 1;
}

.urlItem {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  max-width: max-content;
}

.urlItem:hover,
.urlItemActive {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.languageContainer {
  display: flex;
  align-items: center;
  width: min-content;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--white);
  font-size: 14px;
  padding: 10px 15px;
  gap: 10px;
}

.languageContainer.selected {
  color: var(--orange);
}

.languageContainer a {
  color: var(--dark);
  font-size: 14px;
  font-weight: 700;
}
