.calendarCarousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--blue-light);
}

.rightIcon,
.leftIcon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  color: var(--dark);
}
.rightIcon:hover,
.leftIcon:hover {
  scale: 1.2;
}
.date {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark);
  cursor: pointer;
}
