.input-select {
  width: 100%;

  .input-select {
    &__control {
      line-height: 20px;
      height: 48px;
      background: var(--white);
      border-radius: 4px !important;
      border: 2px solid var(--input-border);
      padding-left: 12px;

      &--is-focused {
        caret-color: var(--black) !important;
        border: 2px solid var(--blue-1);
        outline: none;
        margin: 0;
        box-shadow: 0 0 0 1px var(--blue-1);
      }
    }

    &__indicator {
      padding: 4px;
    }

    &__single-value {
      font-size: 18px;
      line-height: 20px;
      margin-left: 0;
    }

    &__value-container {
      padding: 0;
    }
  }

  &__skeleton {
    height: 48px;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    width: 100%;
  }

  &--error {
    border-radius: 5px;

    .input-select__control {
      border: solid 2px var(--red-3);
      box-shadow: 0 0 0 1px var(--red-3);
    }
  }
}
