.accordion {
  width: 100%;
}
.accordionList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.item {
  padding: 20px;
  border-bottom: 1px solid var(--grey-5);
  display: flex;
}

.title {
  font-size: 21px;
  font-weight: 600;
  color: var(--blue-1);
  text-transform: none;
}
.title:hover {
  text-decoration: none;
}
.collapseIcon {
  color: var(--text);
  font-weight: 200;
  font-size: 40px;
  margin-right: 16px;
  justify-content: flex-start;
}
.collapseIcon:hover {
  text-decoration: none;
}
.description {
  margin-top: 16px;
  font-size: 20px;
  display: none;
}
.descriptionActive {
  display: block;
}
