.label {
  display: inline-block;
  margin-top: 15px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 300;
  margin-bottom: 5px;
  white-space: break-spaces;
  color: var(--text);

  &__info-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom: -5px;
  }

  &__info-text {
    color: var(--grey-6);
    font-size: 14px;
    font-weight: 400;
    max-width: 500px;
  }

  &--no-margin {
    margin: 0;
  }

  &--mb {
    margin-bottom: 12px;
  }
}
