.file {
  &__too-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--black);
  }
}
